.schedule-editor {
	display: flex;
	flex: auto;
	min-height: 280px;
}

.lapse-wrapper {
	border-collapse: collapse;
}

.lapse-wrapper th {
	padding: 20px;
	background: #ffffff;
	border-spacing: 0;
}

.lapse-wrapper td {
	border-left: 1px solid #e7e7e7;
	height: 80px;
	border-spacing: 0;
	border-collapse: collapse;
}

.lapse-wrapper .day-container {
	position: relative;
}

.lapse-wrapper .group-item {
	position: absolute;
}