.schedule {
  display: flex;
}

.schedule-side {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-right: 1px solid #e7e7e7;
}

.schedule-content {
  flex: auto;
  display: flex;
  flex-direction: column;
}