.group-selector {
	flex: auto;
	display: flex;
}

.group-selector .group-item {
	margin-bottom: 20px;
}

.group-item {
	background: #222222;
	color: #ffffff;
	border-radius: 30px;
	width: fit-content;
	padding: 10px 20px;
}

.group-item.green {
	background: #6ee5ab;
}

.group-item.violet {
	background: #f74b98;
}

.group-item.blue {
	background: #77cbf7;
}