.side-menu {
  background: #2a3140;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.side-menu .logo {
  margin: 20px auto;
  background-image: url('../../assets/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33px;
  height: 41px;
}

.menu-list {
	width: 100%;
	margin-top: 20px;
}

.menu-list .item {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
}

.menu-list .item:hover {
	border-left: 5px solid #0092c9;
	cursor: pointer;
}

.menu-list [class^="icon-"],
.menu-list [class*="icon-"] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
	height: 24px;
}

.menu-list .icon-group {
  background-image: url('../../assets/icon-group.svg');
}

.menu-list .icon-earn {
  background-image: url('../../assets/icon-earn.svg');
}

.menu-list .icon-settings {
  background-image: url('../../assets/icon-settings.svg');
}